* {
    font-family: roboto;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
}

#logo{
    font-size: 24px;
}

.top {
    background-color: #1F2937;
}

.left{

}

.right{

}

.mid {

}

.title {

}

.cardholder{

}

.card {

}

.square {

}

.bottom {

}

.ctal{

}

.ctar{

}

.footer{

}